/* Custom checkbox */
.custom-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.5rem;
  height: 1.3rem;
  outline: none;
  border: 1px solid #2f353e;
  border-radius: 0.25rem;
  position: relative;
  cursor: pointer;
  align-items: center;
 
}

/* Custom checkmark */
.custom-checkbox input[type="checkbox"]::before {
  content: '';
  display: block;
  width: 0.75rem;
  height: 0.375rem;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: rotate(-45deg);
  position: absolute;
  top: 0.3rem;
  left: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Change checkmark color when checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked::before {
  border-color: #05820a; /* Change to desired color */
  opacity: 1;
  
}

/* .................................................................. */

.custom-shadow {
  box-shadow: 0 4px 6px rgba(216, 58, 58, 0.1), 0 10px 15px rgba(169, 15, 15, 0.05);
  position: relative; /* Ensure the form has relative positioning */
  z-index: 10;
}
/* ...................................................... */

.bg-orbit1 {
  position: relative;
  overflow: hidden;
}
.bg-orbit1::before,
.bg-orbit1::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 65%;
  right: 85%;
  transform: translate(50%, -50%);
  z-index: 0;
}
.bg-orbit1::before {
  width: 300px;
  height: 300px;
  border: 30px solid rgba(255, 0, 0, 0.3);
}
.bg-orbit1::after {
  width: 350px;
  height: 350px;
  border: 2px solid rgba(255, 0, 0, 0.3);
}
/* .................... */
